.controls {
	display: flex;
	justify-content: space-around;
	margin-top: 8px;

	background: var(--background-paper);
	border-radius: 16px;
	width: 100%;
}

.segment {
	cursor: pointer;
	flex-grow: 1;
	height: 46px;
	padding: 10px 16px;
	background: transparent;
	transition: 0.2s;
	border: 2px solid var(--background-paper);
	border-radius: 16px;
	color: #637083;
	font-weight: 500;
}
.segment.chosen {
	background: #fff;
	border-radius: 16px;
	padding: 8px 16px;
	color: var(--primary-color);
}
