.typography {
	font-family: "Inter", sans-serif;
}

.typography_body16 {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.typography_body16_ghost {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: var(--secondary-color);
}

.typography_body16_medium {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}

.typography_title20 {
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
}

.typography_label {
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	color: var(--secondary-color);
}
