:root {
	--font-family-base: "Inter", sans-serif;
	--bg-color: #fff;
	--primary-color: #141c24;
	--background-paper: #f3f4f6;
	--secondary-color: #344051;
	--secondary-paper: #ced2da;
	--red-primary-color: #db0019;
	--red-secondary-color: #aa0014;
}
