.picker {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-top: 8px;
}

.item {
	position: relative;
	cursor: pointer;
}

.item input {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.circle {
	position: relative;
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;

	border: 2px solid #e0e0e0;
	box-sizing: border-box;
	background: transparent;
}

.circle::before {
	content: "";
	position: absolute;
	inset: 4px;
	border-radius: 50%;
	border: 2px solid #fff;
	pointer-events: none;
}

.circle::after {
	content: "";
	position: absolute;
	inset: 4px;
	border-radius: 50%;
	background: var(--color);
	pointer-events: none;
}

.item input:checked + .circle,
.circle[data-active="true"] {
	border-color: #db0019;
}

.circle:hover {
	border-color: var(--secondary-paper);
}
