.filters {
	position: absolute;
	z-index: 2;
	background-color: white;

	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	left: 50%;
	transform: translateX(-50%);
	gap: 24px;
	border-radius: 16px;
	padding: 32px;
	border: 1px solid var(--secondary-paper);
	max-width: 960px;
	width: 100%;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
}
