.input {
	margin-top: 8px;
	border-radius: 8px;
	padding: 12px;
	height: 48px;
	width: 100%;
	border: 1px solid var(--secondary-paper);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: var(--secondary-color);
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
