.form {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 368px;
}

.wrapper {
	display: flex;
	flex-direction: row;
	gap: 24px;
}

.input {
	margin-top: 6px;
	border-radius: 8px;
	padding: 12px;
	height: 48px;
	width: 100%;
	border: 1px solid var(--secondary-paper);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: var(--secondary-color);
}

.input::placeholder {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #637083;
}
