.container {
	width: 100%;
	margin: 16px auto;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 6px;
	cursor: pointer;
	border-radius: 3px;
	outline: none;

	background: linear-gradient(
		to right,
		var(--primary-color) var(--progress-width),
		#e0e0e0 var(--progress-width)
	);
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;

	width: 28px;
	height: 28px;
	border-radius: 50%;

	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

	background-image: url("@shared/assets/icons/arrows.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.slider::-moz-range-thumb {
	width: 28px;
	height: 28px;
	border-radius: 50%;

	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	cursor: pointer;
}

.limits {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	font-size: 14px;
	color: #4a5568;
}
