.container {
	width: 100%;
	margin: 16px auto;
}

.range {
	position: relative;
	height: 28px;
}

.track {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: 6px;
	background-color: #e0e0e0;
	border-radius: 3px;
	z-index: 0;
}

.progress {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 6px;
	border-radius: 3px;
	background-color: var(--primary-color);
	z-index: 1;
}
.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 28px;
	cursor: pointer;
	outline: none;
	background: none;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.slider {
	pointer-events: none;
}

.slider::-webkit-slider-thumb {
	pointer-events: auto;
}
.thumbLeft::-webkit-slider-thumb {
	z-index: 3;
}

.thumbRight::-webkit-slider-thumb {
	z-index: 4;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;

	width: 28px;
	height: 28px;
	border-radius: 50%;

	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

	background-image: url("@shared/assets/icons/arrows.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.slider::-moz-range-thumb {
	width: 28px;
	height: 28px;
	border-radius: 50%;

	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	cursor: pointer;
}

.limits {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	font-size: 14px;
	color: #4a5568;
}
