.page {
	margin: 0 auto;
	padding: 48px;
	max-width: 1080px;
}

.information {
	max-width: 420px;
	margin: 0 auto;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 0;
	border-top: 1px solid #eee;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

.title {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 32px;
	line-height: 56px;
}

.list {
	margin-top: 24px;
}

.block {
	margin-top: 32px;
}
